@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="alert alert-danger">
    <h3>  Oops! Something is wrong</h3>
    <span>
        Please Contact Administrator
        goto
    </span>
    <a asp-action="privacy" asp-controller="home"></a>

</div>